In [83]:
import numpy as np
import pandas as pd
import ms3 as ms
from preprocessing import transform_chords_abs

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

pd.options.mode.chained_assignment = None

Importing development version of dimcat

In [3]:
import dimcat as dc

In [4]:
# this takes some time because it parses the original data, not the preprocessed tsv files
corpus = dc.Corpus()
corpus.load("../../ABC", parse_tsv=False, parse_scores=True) # make sure to parse directly from MuseScore files
corpus.data

INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 221) ms3.Parse.ABC.n04op18-4_01.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 221 (timesig 1, act_dur 3/4) is completed by 1 incorrect duration (expected: 1/4):
	{79: Fraction(1, 1)}
INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 67) ms3.Parse.ABC.n13op130_03.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 67 (timesig 1, act_dur 5/8) is completed by 1 incorrect duration (expected: 3/8):
	{68: Fraction(1, 1)}
INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 40) ms3.Parse.ABC.n12op127_02.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 40 (timesig 3/2, act_dur 7/8) is completed by 1 incorrect duration (expected: 5/8):
	{41: Fraction(3, 8)}
INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 79) ms3.Parse.ABC.n12op127_02.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 79 (timesig 1, act_dur 1/2) is completed by 1 incorrect duration (expected: 1/2):
	{80: Fraction(3, 4)}

282 files.
KEY -> EXTENSIONS
-----------------
ABC -> {'.mscx': 71, '.tsv': 211}

All 71 MSCX files have been parsed.

They all have annotations attached.
KEY -> ANNOTATION LAYERS
------------------------
ABC -> staff  voice  harmony_layer  color
    -> 4      1      1 (dcml)       default    27625
    ->               1              default        1
    -> 1      1      1 (dcml)       default      731

1/211 tabular files have been parsed, 0 of them as Annotations object(s).

In [5]:
labels = corpus.get_facet("expanded")
labels

DCML_HARMONY_SYNTAX_WARNING (15,) ms3.Parse.ABC.n06op18-6_04.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/annotations.py (line 350) expand_dcml():
	Score contains 1 labels that don't (and 464 that do) match the DCML standard:
	    mc  mn      label harmony_layer
	22  18  18  V7[viio64             1
DCML_HARMONY_INCOMPLETE_PEDAL_COLUMN_ERROR (13,) ms3.Parse.ABC.n06op18-6_04.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/expand_dcml.py (line 155) expand_labels():
	propagate_pedal() failed with
	1 organ points started, 2 ended:
	     mc pedal   mc pedalend
	0   106     I   20        ]
	1  <NA>   NaN  108        ]
DCML_HARMONY_INCOMPLETE_PEDAL_COLUMN_ERROR (13,) ms3.Parse.ABC.n10op74_04.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/expand_dcml.py (line 155) expand_labels():
	propagate_pedal() failed with
	5 organ points started, 6 ended:
	     mc pedal   mc pedalend
	0    99    vi  100        ]
	1   101    #V  102        ]
	2   133     I  143        ]
	3   145     I  152        ]
	4   152     I  156        ]
	5  <NA>   NaN  157        ]
WARNING  ms3.Parse.ABC.n11op95_01.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/utils.py (line 3404) features2tpcs():
	MC 101: #vii in major context corrected to vii.
DCML_HARMONY_INCOMPLETE_PEDAL_COLUMN_ERROR (13,) ms3.Parse.ABC.n13op130_06.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/expand_dcml.py (line 155) expand_labels():
	propagate_pedal() failed with
	13 organ points started, 14 ended:
	      mc pedal   mc pedalend
	0      3    vi    6        ]
	1     11    vi   13        ]
	2     20     V   21        ]
	3     22    ii   23        ]
	4     25     I   32        ]
	5     41     V   34        ]
	6     60     V   43        ]
	7     81     V   60        ]
	8    169   iii   84        ]
	9    245     V  170        ]
	10   252     I  248        ]
	11   324     V  259        ]
	12   419     V  327        ]
	13  <NA>   NaN  436        ]
DCML_HARMONY_SUPERFLUOUS_TONE_REPLACEMENT_WARNING (6, 20, 'V(6b5)') ms3.Parse.ABC.n14op131_07.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/utils.py (line 3557) features2tpcs():
	MC 20: V(6b5) results in a chord tone 5 AND its replacement(s) [-3].

                                     quarterbeats  duration_qb   mc   mn  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)                  0          3.0    1    1
                    [3.0, 6.0)                  3          3.0    2    2
                    [6.0, 9.0)                  6          3.0    3    3
                    [9.0, 15.0)                 9          6.0    4    4
                    [15.0, 18.0)               15          3.0    6    6
...                                           ...          ...  ...  ...
       n16op135_04  [1140.0, 1141.0)         1140          1.0  281  280
                    [1141.0, 1142.0)         1141          1.0  281  280
                    [1142.0, 1144.0)         1142          2.0  282  281
                    [1144.0, 1146.0)         1144          2.0  282  281
                    [1146.0, 1150.0)         1146          4.0  283  282

                                     mc_onset mn_onset timesig  staff  voice  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)              0        0     3/4      4      1
                    [3.0, 6.0)              0        0     3/4      4      1
                    [6.0, 9.0)              0        0     3/4      4      1
                    [9.0, 15.0)             0        0     3/4      4      1
                    [15.0, 18.0)            0        0     3/4      4      1
...                                       ...      ...     ...    ...    ...
       n16op135_04  [1140.0, 1141.0)      1/2      1/2     4/4      4      1
                    [1141.0, 1142.0)      3/4      3/4     4/4      4      1
                    [1142.0, 1144.0)        0        0     4/4      4      1
                    [1144.0, 1146.0)      1/2      1/2     4/4      4      1
                    [1146.0, 1150.0)        0        0     4/4      4      1

                                      volta  ... phraseend chord_type  \
corpus fname        interval                 ...
ABC    n01op18-1_01 [0.0, 3.0)         <NA>  ...       NaN          M
                    [3.0, 6.0)         <NA>  ...       NaN          M
                    [6.0, 9.0)         <NA>  ...       NaN          M
                    [9.0, 15.0)        <NA>  ...       NaN          M
                    [15.0, 18.0)       <NA>  ...       NaN        Mm7
...                                     ...  ...       ...        ...
       n16op135_04  [1140.0, 1141.0)   <NA>  ...       NaN          M
                    [1141.0, 1142.0)   <NA>  ...       NaN          M
                    [1142.0, 1144.0)   <NA>  ...       NaN          M
                    [1144.0, 1146.0)   <NA>  ...       NaN        Mm7
                    [1146.0, 1150.0)   <NA>  ...        \\          M

                                     globalkey_is_minor localkey_is_minor  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)                    False             False
                    [3.0, 6.0)                    False             False
                    [6.0, 9.0)                    False             False
                    [9.0, 15.0)                   False             False
                    [15.0, 18.0)                  False             False
...                                                 ...               ...
       n16op135_04  [1140.0, 1141.0)               True             False
                    [1141.0, 1142.0)               True             False
                    [1142.0, 1144.0)               True             False
                    [1144.0, 1146.0)               True             False
                    [1146.0, 1150.0)               True             False

                                        chord_tones added_tones root  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)            (0, 4, 1)          ()    0
                    [3.0, 6.0)            (1, 5, 2)          ()    1
                    [6.0, 9.0)            (0, 4, 1)          ()    0
                    [9.0, 15.0)          (3, 0, -1)          ()   -1
                    [15.0, 18.0)      (5, 2, -1, 1)          ()    1
...                                             ...         ...  ...
       n16op135_04  [1140.0, 1141.0)      (0, 4, 1)          ()    0
                    [1141.0, 1142.0)      (4, 1, 0)          ()    0
                    [1142.0, 1144.0)      (1, 0, 4)          ()    1
                    [1144.0, 1146.0)  (1, 5, 2, -1)          ()    1
                    [1146.0, 1150.0)      (0, 4, 1)          ()    0

                                     bass_note alt_label pedalend
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)               0       NaN      NaN
                    [3.0, 6.0)               1       NaN      NaN
                    [6.0, 9.0)               0       NaN      NaN
                    [9.0, 15.0)              3       NaN      NaN
                    [15.0, 18.0)             5       NaN      NaN
...                                        ...       ...      ...
       n16op135_04  [1140.0, 1141.0)         0       NaN      NaN
                    [1141.0, 1142.0)         4       NaN      NaN
                    [1142.0, 1144.0)         1       NaN      NaN
                    [1144.0, 1146.0)         1       NaN      NaN
                    [1146.0, 1150.0)         0       NaN      NaN

[27960 rows x 32 columns]

In [6]:
# this takes some time
salami_crp = dc.NoteSlicer().process_data(corpus)
salami_notes = salami_crp.get_facet("notes")

In [135]:
# zoom in on the chords in one piece
chords = labels.loc[('ABC', 'n01op18-1_03')]

In [139]:
chords.to_csv("allchorddata.csv")

# Translate labels to absolute pitches

In [140]:
desired_chord_columns = ['chord','pedal','numeral','form','figbass','changes','relativeroot','localkey','globalkey']
chordz = chords.copy().reset_index()
chordz = chordz.reset_index()

In [141]:
chords_abs_columns = ['chord', 'globalkey','globalkey_is_minor']

In [142]:

def get_chord_offset(numeral: str, globalkey_is_minor):
  alteration = (numeral.count("#") - numeral.count("b")) * 7

  numeral = numeral.strip("#b")
  numeral = numeral.upper()#
  numeral_to_interval_major = {"I": 0, "II": 2, "III": 4, "IV": 5, "V":1, "VI":3, "VII":5}
  numeral_to_interval_minor = {"I": 0, "II": 2, "III": 9, "IV": 5, "V":1, "VI":8, "VII":10}

  if globalkey_is_minor:
    return (numeral_to_interval_minor[numeral] + alteration) % 7
  else:
    return (numeral_to_interval_major[numeral] + alteration) % 7


def transform_chords_abs(df):
    """
    Transposes all numerals to their position in the global major or minor scale.
    This eliminates localkeys and relativeroots. The resulting chords are defined
    by [`numeral`, `figbass`, `changes`, `globalkey_is_minor`] (and `pedal`).

    Uses: :py:func:`transform`, :py:func:`rel2abs_key^, :py:func:`resolve_relative_keys` -> :py:func:`str_is_minor()`
    :py:func:`transpose_changes`, :py:func:`series_is_minor`,

    Parameters
    ----------
    df : :obj:`pandas.DataFrame`
        
    cols : :obj:`dict`, optional
        In case the column names for ``['numeral', 'figbass', 'changes', 'relativeroot', 'localkey', 'globalkey', 'globalkey_is_minor']`` deviate, pass a dict, such as

        .. code-block:: python

            {'chord':           'chord_col_name'
             'pedal':           'pedal_col_name',
             'numeral':         'numeral_col_name',
             'form':            'form_col_name',
             'figbass':         'figbass_col_name',
             'changes':         'changes_col_name',
             'relativeroot':    'relativeroot_col_name',
             'localkey':        'localkey_col_name',
             'globalkey':       'globalkey_col_name'}}


    Returns
    -------
    :obj:`pandas.DataFrame`
    """
    
    df['rootoffset'] = df.apply(lambda x: int(get_chord_offset(x.numeral,x.globalkey_is_minor)), axis = 1)

In [143]:
clean_chords = chordz[chordz['chord'] != '@none']
ms.labels2global_tonic(clean_chords, inplace=True)
clean_chords.to_csv("chordsbefore.csv")
transform_chords_abs(clean_chords)

Recombine the segments with @None labels

In [144]:
#full_chords_abs = pd.concat([chordsAbs, chordz[chordz['chord'] == '@none']]).sort_index()[chords_abs_columns]
full_chords_abs = pd.concat([clean_chords, chordz[chordz['chord'] == '@none']]).sort_index()

In [150]:
full_chords_abs

,index,interval,quarterbeats,duration_qb,mc,mn,mc_onset,mn_onset,timesig,staff,...,chord_tones,added_tones,root,bass_note,alt_label,pedalend,rootoffset,localkey,relativeroot,localkey_is_minor
0,0,"[0.0, 1.0)",0,1.0,1,1,0,0,3/4,4,...,"(0, 4, 1)",(),0,0,NaN,NaN,0.0,NaN,NaN,NaN
1,1,"[1.0, 3.0)",1,2.0,1,1,1/4,1/4,3/4,4,...,"(4, 1, 0)",(),0,4,NaN,NaN,0.0,NaN,NaN,NaN
2,2,"[3.0, 4.0)",3,1.0,2,2,0,0,3/4,4,...,"(1, 0, 2)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN
3,3,"[4.0, 5.0)",4,1.0,2,2,1/4,1/4,3/4,4,...,"(1, 5, 2)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN
4,4,"[5.0, 6.0)",5,1.0,2,2,1/2,1/2,3/4,4,...,"(4, 1, 3, 7)",(),3,4,NaN,NaN,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,198,"[420.0, 422.0)",420,2.0,141,141,0,0,3/4,4,...,"(1, 5, 2)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN
199,199,"[422.0, 423.0)",422,1.0,141,141,1/2,1/2,3/4,4,...,"(1, 0, -3)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN
200,200,"[423.0, 426.0)",423,3.0,142,142,0,0,3/4,4,...,"(1, 5, 2)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN
201,201,"[426.0, 429.0)",426,3.0,143,143,0,0,3/4,4,...,"(1, 5, 2, -1)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN
202,202,"[429.0, 435.0)",429,6.0,144,144,0,0,3/4,4,...,"(1, 5, 2)",(),1,1,NaN,NaN,1.0,NaN,NaN,NaN

In [145]:
full_chords_abs.rootoffset.fillna(0, inplace=True)

Now combine repeated chords

In [146]:
relavant_columns = ["interval", "chord_type", "rootoffset", "globalkey"]

In [147]:
full_chords_abs[relavant_columns].to_csv("test.csv")

In [148]:
def interval_union(i1,i2):
    return pd.Interval(i1.left,i2.right,'left')

In [153]:
# Bad practice to use loops with pandas..
dfs = pd.DataFrame()
prev = None 
for row in full_chords_abs[relavant_columns].iterrows():
    if prev and (row[1].chord_type == prev[1].chord_type and row[1].rootoffset == prev[1].rootoffset):
        # combine
        dfs.at[dfs.index[-1], 'interval'] = pd.Interval(dfs.iloc[-1].interval.left, row[1].interval.right, "left")
    else:
        # New row
        dfs = dfs.append(row[1])
    prev = row

In [154]:
dfs.rootoffset = dfs.rootoffset.astype(int)

In [155]:
full_chords_abs = dfs

In [156]:
relavant_columns = [ "interval", "chord_type", "rootoffset", "globalkey"]

In [157]:
full_chords_abs = full_chords_abs.reset_index()[relavant_columns]

In [158]:
full_chords_abs.index.name ='segment_id'

In [159]:
full_chords_abs[["chord_type", "rootoffset", "globalkey"]].to_csv('chords.csv')

In [160]:
full_chords_abs

                  interval chord_type  rootoffset globalkey
segment_id
0               [0.0, 3.0)          M           0         F
1               [3.0, 5.0)          M           1         F
2               [5.0, 6.0)        Mm7           3         F
3               [6.0, 9.0)          m           2         F
4              [9.0, 11.0)          M           3         F
...                    ...        ...         ...       ...
154         [410.0, 414.0)          M           1         F
155         [414.0, 420.0)        Mm7           1         F
156         [420.0, 426.0)          M           1         F
157         [426.0, 429.0)        Mm7           1         F
158         [429.0, 435.0)          M           1         F

[159 rows x 4 columns]

# Process Slices

In [161]:
salamis = salami_notes.loc[("ABC", "n01op18-1_03")]

In [162]:
mini_salamis = salamis[['midi','tpc','tied']]
mini_salamis['tied'] = mini_salamis['tied'].fillna(0).astype('bool')

Assigning each slice a segment id according to the chord.

In [163]:
# Bad practice to use loops with pandas..
dfs = []
for segment, interval in enumerate(full_chords_abs["interval"]):
    segMask = mini_salamis.index.get_level_values(0).overlaps(interval)
    slicesInInterval = mini_salamis[segMask]
    slicesInInterval.insert(0,'segment_id',segment)
    dfs.append(slicesInInterval)

In [164]:
segmented_salamis = pd.concat(dfs)

In [165]:
#segmented_salamis.insert(0,"onset_slice_start", segmented_salamis.index.get_level_values(0).left)
#segmented_salamis.insert(1, "onset_slice_end", segmented_salamiis.index.get_level_values(0).right)

In [166]:
segmented_salamis['slice_id'] = pd.factorize(segmented_salamis.reset_index()['onset_slice'])[0]

In [167]:
def to_pitch(midi, tpc):
    pitch_class = ms.fifths2name(tpc)
    octave = str(midi // 12)
    return pitch_class + octave

In [168]:
segmented_salamis['pitch'] = segmented_salamis.apply(lambda x: to_pitch(x.midi, x.tpc), axis=1)

In [169]:
final_salamis_columns = ['segment_id','slice_id','pitch','tied']
final_salamis = segmented_salamis.reset_index()[final_salamis_columns]

In [170]:
final_salamis

      segment_id  slice_id pitch   tied
0              0         0    F3  False
1              0         0    A4  False
2              0         0    C5   True
3              0         0    F5   True
4              0         1    A4  False
...          ...       ...   ...    ...
2026         158       501    B5  False
2027         158       502    D6  False
2028         158       503    C6  False
2029         158       504   Bb5  False
2030         158       505    G5  False

[2031 rows x 4 columns]

In [171]:
final_salamis["new_segment"] = final_salamis["segment_id"].diff().astype(bool)
final_salamis['new_slice'] = final_salamis["slice_id"].diff().astype(bool)

# Correct the new segment and new slice fields for the first row.

In [172]:
final_salamis.at[0, "new_segment"] = False
final_salamis.at[0, "new_slice"] = False

In [173]:
final_salamis.to_csv('salamis.csv',columns=["new_segment", "new_slice", "pitch","tied"], index=False)

# Small Version

In [174]:
final_salamis.loc[final_salamis.segment_id < 4].to_csv('salamisShortest.csv',columns=["new_segment", "new_slice", "pitch","tied"], index=False)

In [175]:
full_chords_abs[["chord_type", "rootoffset", "globalkey"]].loc[0:3].to_csv('chordsShortest.csv')