In [132]:
import numpy as np
import pandas as pd
import ms3 as ms
from preprocessing import transform_chords_abs

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

pd.options.mode.chained_assignment = None

Importing development version of dimcat

In [4]:
import dimcat as dc

In [5]:
# this takes some time because it parses the original data, not the preprocessed tsv files
corpus = dc.Corpus()
corpus.load("../../ABC", parse_tsv=False, parse_scores=True) # make sure to parse directly from MuseScore files
corpus.data

INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 221) ms3.Parse.ABC.n04op18-4_01.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 221 (timesig 1, act_dur 3/4) is completed by 1 incorrect duration (expected: 1/4):
	{79: Fraction(1, 1)}
INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 67) ms3.Parse.ABC.n13op130_03.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 67 (timesig 1, act_dur 5/8) is completed by 1 incorrect duration (expected: 3/8):
	{68: Fraction(1, 1)}
INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 40) ms3.Parse.ABC.n12op127_02.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 40 (timesig 3/2, act_dur 7/8) is completed by 1 incorrect duration (expected: 5/8):
	{41: Fraction(3, 8)}
INCOMPLETE_MC_WRONGLY_COMPLETED_WARNING (3, 79) ms3.Parse.ABC.n12op127_02.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/bs4_measures.py (line 707) make_offset_col():
	The incomplete MC 79 (timesig 1, act_dur 1/2) is completed by 1 incorrect duration (expected: 1/2):
	{80: Fraction(3, 4)}

282 files.
KEY -> EXTENSIONS
-----------------
ABC -> {'.mscx': 71, '.tsv': 211}

All 71 MSCX files have been parsed.

They all have annotations attached.
KEY -> ANNOTATION LAYERS
------------------------
ABC -> staff  voice  harmony_layer  color
    -> 4      1      1 (dcml)       default    27625
    ->               1              default        1
    -> 1      1      1 (dcml)       default      731

1/211 tabular files have been parsed, 0 of them as Annotations object(s).

In [6]:
labels = corpus.get_facet("expanded")
labels

DCML_HARMONY_SYNTAX_WARNING (15,) ms3.Parse.ABC.n06op18-6_04.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/annotations.py (line 350) expand_dcml():
	Score contains 1 labels that don't (and 464 that do) match the DCML standard:
	    mc  mn      label harmony_layer
	22  18  18  V7[viio64             1
DCML_HARMONY_INCOMPLETE_PEDAL_COLUMN_ERROR (13,) ms3.Parse.ABC.n06op18-6_04.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/expand_dcml.py (line 155) expand_labels():
	propagate_pedal() failed with
	1 organ points started, 2 ended:
	     mc pedal   mc pedalend
	0   106     I   20        ]
	1  <NA>   NaN  108        ]
DCML_HARMONY_INCOMPLETE_PEDAL_COLUMN_ERROR (13,) ms3.Parse.ABC.n10op74_04.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/expand_dcml.py (line 155) expand_labels():
	propagate_pedal() failed with
	5 organ points started, 6 ended:
	     mc pedal   mc pedalend
	0    99    vi  100        ]
	1   101    #V  102        ]
	2   133     I  143        ]
	3   145     I  152        ]
	4   152     I  156        ]
	5  <NA>   NaN  157        ]
WARNING  ms3.Parse.ABC.n11op95_01.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/utils.py (line 3404) features2tpcs():
	MC 101: #vii in major context corrected to vii.
DCML_HARMONY_INCOMPLETE_PEDAL_COLUMN_ERROR (13,) ms3.Parse.ABC.n13op130_06.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/expand_dcml.py (line 155) expand_labels():
	propagate_pedal() failed with
	13 organ points started, 14 ended:
	      mc pedal   mc pedalend
	0      3    vi    6        ]
	1     11    vi   13        ]
	2     20     V   21        ]
	3     22    ii   23        ]
	4     25     I   32        ]
	5     41     V   34        ]
	6     60     V   43        ]
	7     81     V   60        ]
	8    169   iii   84        ]
	9    245     V  170        ]
	10   252     I  248        ]
	11   324     V  259        ]
	12   419     V  327        ]
	13  <NA>   NaN  436        ]
DCML_HARMONY_SUPERFLUOUS_TONE_REPLACEMENT_WARNING (6, 20, 'V(6b5)') ms3.Parse.ABC.n14op131_07.mscx -- /opt/homebrew/lib/python3.10/site-packages/ms3-0.5.3.post0.dev224+ga917290-py3.10.egg/ms3/utils.py (line 3557) features2tpcs():
	MC 20: V(6b5) results in a chord tone 5 AND its replacement(s) [-3].

                                     quarterbeats  duration_qb   mc   mn  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)                  0          3.0    1    1
                    [3.0, 6.0)                  3          3.0    2    2
                    [6.0, 9.0)                  6          3.0    3    3
                    [9.0, 15.0)                 9          6.0    4    4
                    [15.0, 18.0)               15          3.0    6    6
...                                           ...          ...  ...  ...
       n16op135_04  [1140.0, 1141.0)         1140          1.0  281  280
                    [1141.0, 1142.0)         1141          1.0  281  280
                    [1142.0, 1144.0)         1142          2.0  282  281
                    [1144.0, 1146.0)         1144          2.0  282  281
                    [1146.0, 1150.0)         1146          4.0  283  282

                                     mc_onset mn_onset timesig  staff  voice  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)              0        0     3/4      4      1
                    [3.0, 6.0)              0        0     3/4      4      1
                    [6.0, 9.0)              0        0     3/4      4      1
                    [9.0, 15.0)             0        0     3/4      4      1
                    [15.0, 18.0)            0        0     3/4      4      1
...                                       ...      ...     ...    ...    ...
       n16op135_04  [1140.0, 1141.0)      1/2      1/2     4/4      4      1
                    [1141.0, 1142.0)      3/4      3/4     4/4      4      1
                    [1142.0, 1144.0)        0        0     4/4      4      1
                    [1144.0, 1146.0)      1/2      1/2     4/4      4      1
                    [1146.0, 1150.0)        0        0     4/4      4      1

                                      volta  ... phraseend chord_type  \
corpus fname        interval                 ...
ABC    n01op18-1_01 [0.0, 3.0)         <NA>  ...       NaN          M
                    [3.0, 6.0)         <NA>  ...       NaN          M
                    [6.0, 9.0)         <NA>  ...       NaN          M
                    [9.0, 15.0)        <NA>  ...       NaN          M
                    [15.0, 18.0)       <NA>  ...       NaN        Mm7
...                                     ...  ...       ...        ...
       n16op135_04  [1140.0, 1141.0)   <NA>  ...       NaN          M
                    [1141.0, 1142.0)   <NA>  ...       NaN          M
                    [1142.0, 1144.0)   <NA>  ...       NaN          M
                    [1144.0, 1146.0)   <NA>  ...       NaN        Mm7
                    [1146.0, 1150.0)   <NA>  ...        \\          M

                                     globalkey_is_minor localkey_is_minor  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)                    False             False
                    [3.0, 6.0)                    False             False
                    [6.0, 9.0)                    False             False
                    [9.0, 15.0)                   False             False
                    [15.0, 18.0)                  False             False
...                                                 ...               ...
       n16op135_04  [1140.0, 1141.0)               True             False
                    [1141.0, 1142.0)               True             False
                    [1142.0, 1144.0)               True             False
                    [1144.0, 1146.0)               True             False
                    [1146.0, 1150.0)               True             False

                                        chord_tones added_tones root  \
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)            (0, 4, 1)          ()    0
                    [3.0, 6.0)            (1, 5, 2)          ()    1
                    [6.0, 9.0)            (0, 4, 1)          ()    0
                    [9.0, 15.0)          (3, 0, -1)          ()   -1
                    [15.0, 18.0)      (5, 2, -1, 1)          ()    1
...                                             ...         ...  ...
       n16op135_04  [1140.0, 1141.0)      (0, 4, 1)          ()    0
                    [1141.0, 1142.0)      (4, 1, 0)          ()    0
                    [1142.0, 1144.0)      (1, 0, 4)          ()    1
                    [1144.0, 1146.0)  (1, 5, 2, -1)          ()    1
                    [1146.0, 1150.0)      (0, 4, 1)          ()    0

                                     bass_note alt_label pedalend
corpus fname        interval
ABC    n01op18-1_01 [0.0, 3.0)               0       NaN      NaN
                    [3.0, 6.0)               1       NaN      NaN
                    [6.0, 9.0)               0       NaN      NaN
                    [9.0, 15.0)              3       NaN      NaN
                    [15.0, 18.0)             5       NaN      NaN
...                                        ...       ...      ...
       n16op135_04  [1140.0, 1141.0)         0       NaN      NaN
                    [1141.0, 1142.0)         4       NaN      NaN
                    [1142.0, 1144.0)         1       NaN      NaN
                    [1144.0, 1146.0)         1       NaN      NaN
                    [1146.0, 1150.0)         0       NaN      NaN

[27960 rows x 32 columns]

In [7]:
# this takes some time
salami_crp = dc.NoteSlicer().process_data(corpus)
salami_notes = salami_crp.get_facet("notes")

In [8]:
# zoom in on the chords in one piece
chords = labels.loc[('ABC', 'n01op18-1_03')]

# Translate labels to absolute pitches

In [210]:
desired_chord_columns = ['chord','pedal','numeral','form','figbass','changes','relativeroot','localkey','globalkey']
chordz = chords.copy()[desired_chord_columns].reset_index()
chordz = chordz.reset_index()

In [211]:
chords_abs_columns = ['chord', 'globalkey','globalkey_is_minor']

In [212]:
clean_chords = chordz[chordz['chord'] != '@none']
ms.labels2global_tonic(clean_chords, inplace=True)
transform_chords_abs(clean_chords)

     index        interval   chord pedal numeral form figbass changes  \
0        0      [0.0, 1.0)       I   NaN       I  NaN     NaN     NaN
1        1      [1.0, 3.0)      I6   NaN       I  NaN       6     NaN
2        2      [3.0, 4.0)    V(4)   NaN       V  NaN     NaN       4
3        3      [4.0, 5.0)       V   NaN       V  NaN     NaN     NaN
4        4      [5.0, 6.0)    VI43   NaN      VI  NaN      43     NaN
..     ...             ...     ...   ...     ...  ...     ...     ...
198    198  [420.0, 422.0)       V   NaN       V  NaN     NaN     NaN
199    199  [422.0, 423.0)  V(b64)   NaN       V  NaN     NaN     b64
200    200  [423.0, 426.0)       V   NaN       V  NaN     NaN     NaN
201    201  [426.0, 429.0)      V7   NaN       V  NaN       7     NaN
202    202  [429.0, 435.0)       V   NaN       V  NaN     NaN     NaN

    globalkey  globalkey_is_minor  rootoffset chordType
0           F               False           0         M
1           F               False           0         M
2           F               False           7         M
3           F               False           7         M
4           F               False           9         M
..        ...                 ...         ...       ...
198         F               False           7         M
199         F               False           7         M
200         F               False           7         M
201         F               False           7        M7
202         F               False           7         M

[202 rows x 12 columns]

,index,interval,chord,pedal,numeral,form,figbass,changes,globalkey,globalkey_is_minor,rootoffset,chordType
0,0,"[0.0, 1.0)",I,NaN,I,NaN,NaN,NaN,F,False,0,M
1,1,"[1.0, 3.0)",I6,NaN,I,NaN,6,NaN,F,False,0,M
2,2,"[3.0, 4.0)",V(4),NaN,V,NaN,NaN,4,F,False,7,M
3,3,"[4.0, 5.0)",V,NaN,V,NaN,NaN,NaN,F,False,7,M
4,4,"[5.0, 6.0)",VI43,NaN,VI,NaN,43,NaN,F,False,9,M
...,...,...,...,...,...,...,...,...,...,...,...,...
198,198,"[420.0, 422.0)",V,NaN,V,NaN,NaN,NaN,F,False,7,M
199,199,"[422.0, 423.0)",V(b64),NaN,V,NaN,NaN,b64,F,False,7,M
200,200,"[423.0, 426.0)",V,NaN,V,NaN,NaN,NaN,F,False,7,M
201,201,"[426.0, 429.0)",V7,NaN,V,NaN,7,NaN,F,False,7,M7
202,202,"[429.0, 435.0)",V,NaN,V,NaN,NaN,NaN,F,False,7,M

Recombine the segments with @None labels

In [239]:
#full_chords_abs = pd.concat([chordsAbs, chordz[chordz['chord'] == '@none']]).sort_index()[chords_abs_columns]
full_chords_abs = pd.concat([clean_chords, chordz[chordz['chord'] == '@none']]).sort_index()

Now combine repeated chords

In [279]:
relavant_columns = ["interval", "chordtype", "rootoffset", "globalkey"]

In [146]:
full_chords_abs[relavant_columns].to_csv("test.csv")

In [241]:
def interval_union(i1,i2):
    return pd.Interval(i1.left,i2.right,'left')

In [242]:
# Bad practice to use loops with pandas..
dfs = pd.DataFrame()
prev = None 
for row in full_chords_abs[relavant_columns].iterrows():
    if prev and (row[1].chordType == prev[1].chordType and row[1].rootoffset == prev[1].rootoffset):
        # combine
        dfs.at[dfs.index[-1], 'interval'] = pd.Interval(dfs.iloc[-1].interval.left, row[1].interval.right, "left")
    else:
        # New row
        dfs = dfs.append(row[1])
    prev = row

In [243]:
full_chords_abs = dfs

In [282]:
relavant_columns = [ "chordtype", "rootoffset", "globalkey"]

In [283]:
full_chords_abs = full_chords_abs.reset_index()[relavant_columns]

In [284]:
full_chords_abs.index.name ='segment_id'

In [285]:
full_chords_abs.to_csv('chords.csv')

In [286]:
full_chords_abs

           chordType  rootoffset globalkey
segment_id
0                  M         0.0         F
1                  M         7.0         F
2                  M         9.0         F
3                  m         2.0         F
4                  M         9.0         F
...              ...         ...       ...
153                M         7.0         F
154               M7         7.0         F
155                M         7.0         F
156               M7         7.0         F
157                M         7.0         F

[158 rows x 3 columns]

# Process Slices

In [267]:
salamis = salami_notes.loc[("ABC", "n01op18-1_03")]

In [268]:
mini_salamis = salamis[['midi','tpc','tied']]
mini_salamis['tied'] = mini_salamis['tied'].fillna(0).astype('bool')

Assigning each slice a segment id according to the chord.

In [269]:
# Bad practice to use loops with pandas..
dfs = []
for segment, interval in enumerate(full_chords_abs["interval"]):
    segMask = mini_salamis.index.get_level_values(0).overlaps(interval)
    slicesInInterval = mini_salamis[segMask]
    slicesInInterval.insert(0,'segment_id',segment)
    dfs.append(slicesInInterval)

In [270]:
segmented_salamis = pd.concat(dfs)

In [22]:
#segmented_salamis.insert(0,"onset_slice_start", segmented_salamis.index.get_level_values(0).left)
#segmented_salamis.insert(1, "onset_slice_end", segmented_salamiis.index.get_level_values(0).right)

In [271]:
segmented_salamis['slice_id'] = pd.factorize(segmented_salamis.reset_index()['onset_slice'])[0]

In [272]:
def to_pitch(midi, tpc):
    pitch_class = ms.fifths2name(tpc)
    octave = str(midi // 12)
    return pitch_class + octave

In [273]:
segmented_salamis['pitch'] = segmented_salamis.apply(lambda x: to_pitch(x.midi, x.tpc), axis=1)

In [274]:
final_salamis_columns = ['segment_id','slice_id','pitch','tied']
final_salamis = segmented_salamis.reset_index()[final_salamis_columns]

In [275]:
final_salamis

      segment_id  slice_id pitch   tied
0              0         0    F3  False
1              0         0    A4  False
2              0         0    C5   True
3              0         0    F5   True
4              0         1    A4  False
...          ...       ...   ...    ...
2026         157       501    B5  False
2027         157       502    D6  False
2028         157       503    C6  False
2029         157       504   Bb5  False
2030         157       505    G5  False

[2031 rows x 4 columns]

In [276]:
final_salamis["new_segment"] = final_salamis["segment_id"].diff().astype(bool)
final_salamis['new_slice'] = final_salamis["slice_id"].diff().astype(bool)

# Correct the new segment and new slice fields for the first row.

In [277]:
final_salamis.at[0, "new_segment"] = False
final_salamis.at[0, "new_slice"] = False

In [278]:
final_salamis.to_csv('salamis.csv',columns=["new_segment", "new_slice", "pitch","tied"], index=False)